
<div class="container-fluid" style="height: 100%;">
    
    
    <div class="row" style="height: 100%;">
        
        <div class="col-lg-2"style="height: 100%;" >
            <sidebar></sidebar>
        </div>
        
        <div class="col-lg-10 project-container">
            
            <button class="dataset-title-button"> <h1>dataset1</h1> </button>
            
            <button (click)="dst.change()"> Izmeni </button>
            
            <div>
                <app-csv (messageEvent)="dst.LoadData($event)"></app-csv>
                <button> Prikazi tabelu </button>
            </div>
            
            <data-set-table #dst></data-set-table>
            
            
        </div>
        
    </div>
    
    
</div>
