.project-container{
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    
    height: 75vh;
}

.dataset-title-button{
    background: none;
    border: none;
    padding: 0px;
    
    h1{
        display: block;
        font-weight: bold;
        color: #0084FF;
        
        transition: ease 0.25s;
        
        &:hover{
            transition: ease 0.25s;
            color: #333333;
        }
    }
    
}

