<navbar></navbar>
<div class="container p-5">
    <div class="row title-section">
        <p> <span> <a href='/my-projects'>{{'edit-dataset-page.naslov1'|translate}}/ </a>
            </span>{{'edit-dataset-page.naslov2'|translate}}</p>
        <hr>
    </div>
    <div class="row">
        <div class="col-11">
        <router-outlet></router-outlet>
        </div>
        <div class="col-1">
            <app-opcije-dataset></app-opcije-dataset>
            <app-opcije-edit-dataset *ngIf="projectsService.edit"></app-opcije-edit-dataset>
            <!-- Kada se nesto bude menjalo vrv ce morati da se menjaju i podaci u servise datasetservice -->
        </div>

        <!-- <loader #loader class="loader"></loader> -->
    </div>
</div>