.container
{
    width: 100%;
}
.projekti
{
    width:80%;
}

.kolona
{
    color:#555555;
}
.dugme
{
    background-color: #555555;
    border:none;
}

hr{
    background-color:#555555;
    height: 0.5rem;
}
