<div class="container mt-5">
    <div class="container1 d-flex justify-content-center">
        <app-profil></app-profil>
    </div>
    <br><br>
    <div class="mt-5">
        <div class="container">
            <div class="zaVelikeEkrane row">
                <div class="kolona col-4 d-flex justify-content-center">
                    <div class="input-group input-group-sm pe-5">
                        <button type="button" class=" dugme btn btn-primary input-group-text">
                            <i class="fas fa-search"></i>
                        </button>
                        <input type="text" class="form-control" placeholder="Search..." aria-label="Small"
                            aria-describedby="inputGroup-sizing-sm">
                    </div>
                </div>

                <div id="ue" class="kolona col-4 d-flex justify-content-md-center">
                    <h4 id="naslov" class="pt-0">{{'profil-page.eksperimenti'|translate}}</h4>
                </div>

                <div id="cnp" class=" kolona col-4 d-flex justify-content-md-end">
                    <a id="newProjectButton" href="new-project" class="dugme btn btn-primary" role="button">{{'my-projects-page.novi'|translate}}
                        </a>
                </div>
            </div>
            <div class="zaMaleEkrane">
                <div class="row mx-auto">
                    <div id="ue" class="kolona col-6 pt-2">
                        <h4 id="naslov" class="">{{'profil-page.eksperimenti'|translate}}</h4>
                    </div>
                    <div id="cnp" class="kolona col-6 d-flex justify-content-end p-1 mb-2">
                        <a id="newProjectButton" href="new-project" class="dugme btn btn-primary"
                            role="button">{{'my-projects-page.novi'|translate}}
                            </a>
                    </div>
                </div>
                <div class="row">
                    <div class="kolona col-12 d-flex justify-content-center">
                        <div class="input-group input-group-sm ">
                            <button type="button" class=" dugme btn btn-primary input-group-text">
                                <i class="fas fa-search"></i>
                            </button>
                            <input type="text" class="form-control" placeholder="Search..." aria-label="Small"
                                aria-describedby="inputGroup-sizing-sm">
                        </div>
                    </div>
                </div>




            </div>
        </div>
        <hr class="mt-2 mb-5 ">

        <div class="container rounded projekti p-3">
            <app-lista-projekata></app-lista-projekata>
        </div>
        <div style="height: 10vh;">

        </div>
    </div>
</div>