<!-- <app-home></app-home> -->
<!-- <app-opcije-dataset></app-opcije-dataset>
<app-opcije-edit-dataset></app-opcije-edit-dataset> -->

<!--
<div class="blobs">
    <div class="blob"></div>
</div>
-->

<app-landing-nav #landingNav id="landingNav"></app-landing-nav>

<app-landing-page-selector #selector (OptionSelected)="ChangePage($event)" id="selector"></app-landing-page-selector>

<canvas #canvas id="threeCanvas"></canvas>


<div class="page" id="page1" #page1>
    <h1 id="title"> Igrannonica </h1>
</div>

<div class="page" id="page2" #page2>
    
</div>

<div class="page" id="page3" #page3>
    
</div>

<div class="page" id="page4" #page4>
    
</div>



<svg viewBox="0 0 39 24" id="downScroller" (click)="selector.NextSelection()">
    <path d="M1.939,1.939l17.5,7.317l17.5,-7.317"/>
    <path d="M1.939,8.28l17.5,7.317l17.5,-7.317"/>
    <path d="M1.939,14.622l17.5,7.317l17.5,-7.317"/>
</svg>


<falling-star-particle></falling-star-particle>