sandbox/mini_projects/branislav/NoviRaspored/NoviRaspored.sln
sandbox/mini_projects/branislav/NoviRaspored/.vs/NoviRaspored/project-colors.json
sandbox/mini_projects/branislav/NoviRaspored/.vs/NoviRaspored/config/applicationhost.config
sandbox/mini_projects/branislav/NoviRaspored/.vs/NoviRaspored/DesignTimeBuild/.dtbcache.v2
sandbox/mini_projects/branislav/NoviRaspored/.vs/NoviRaspored/v17/.futdcache.v1
sandbox/mini_projects/branislav/NoviRaspored/.vs/NoviRaspored/v17/.suo
sandbox/mini_projects/branislav/NoviRaspored/.vs/
sandbox/mini_projects/branislav/NoviRaspored/NoviRaspored/bin/
sandbox/mini_projects/branislav/NoviRaspored/NoviRaspored/obj/
sandbox/mini_projects/natalija/App1/App1/obj/Debug/net5.0/App1.assets.cache
