<navbar ></navbar>
<div class="container mb-5">
    <div class="container mx-auto mt-5 mb-2">
        <div class="mx-auto text-center">
        <button class="dataset-title-button px-4">
            <h1>{{'data-set-page.naslov'|translate}}</h1>
        </button>
    </div>
        <div class="container">
            <app-file-input #csvInput 
                (fileChosen)="loader.start();"
                (jsonLoaded)="this.ShowDataset(); loader.stop();"> 
            </app-file-input>
        </div>
        <p style="color: red; font-weight:bold;"> {{errorMessage}} </p>

        <loader #loader class="d-flex justify-content-center mb-5"></loader>

        <div class="datasetcont container" [class.hidden]="datasetHidden || loader.isLoading">
            <data-set-table #datasetTable></data-set-table>
        </div>


    </div>
    <!-- sakrij ako nije ucitano -->
    
    <div class="container d-flex justify-content-center">

        <button class="btn btn-primary mb-5" (click)="SendDataset(csvInput.inputFile);" [disabled]="!csvInput.fileReadyToSend"> {{'data-set-page.submit'|translate}} </button>

    </div>

</div>