
<div class="container-fluid">
    
    
    <div class="row">
        
        <div class="col-lg-2" >
            <sidebar></sidebar>
        </div>
        
        <div class="col-lg-10 project-container">
            
            <div class="inside-container">
                <button class="dataset-title-button"> <h1>Dataset1</h1> </button>
                <app-csv #csvInput (fileChosen)="loader.start()" (jsonLoaded)="datasetTable.LoadDataDirectlyFromInput($event); this.showDataset(); loader.stop();" (fileError)="loader.stop();"></app-csv>
                
                <p style="color: red; font-weight:bold;"> {{errorMessage}} </p>
            </div> 
            
            <loader #loader></loader>
            
            <div class="dataset-container" [class.hidden]="datasetHidden || loader.isLoading">
                <data-set-table #datasetTable></data-set-table>
            </div>
            
            <button class="btn btn-primary" (click)="sendDataset(csvInput.csv);"> Potvrdi </button>
            
            
        </div>
        
    </div>
    
    
</div>
