.hidden{
    display: none;
}

// .project-container{
//     display: flex;
//     flex-direction: column;
//     align-items:center;
//     justify-content: space-evenly;
    
//     height: 94.1vh;
// }

// .inside-container{
//     display: flex;
//     flex-direction: column;
//     align-items:center;
//     justify-content: space-evenly;
    
//     height: 20vh;
// }

.dataset-title-button{
    background: none;
    border: none;
    padding: 0%;
    
    h1{
        display: block;
        font-weight: bold;
        color: #0084FF;
        
        transition: ease 0.25s;
        
        &:hover{
            transition: ease 0.25s;
            color: #333333;
        }
    }
}


// .input-section{
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     justify-content: space-evenly;
// }

