
<div class="container-fluid" style="height: 100%;">
    
    <div class="col-lg-10 project-container">
        <div class="row col-container" style="width:75%;">
                
            <div class="skupovi-col col-lg-5">
                
                <div class="list-group list-group-flush">
                    <a class="skup p-2" (click)="test()">Zapocni treniranje</a>
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="row" style="height: 100%;">
        <div class="col-lg-2"style="height: 100%;" >
            <sidebar></sidebar>
        </div>
        
        <div class="col-lg-10 project-container">
            <h1 class="h1">projekat1</h1>
            
            <div class="row col-container" style="width:75%;">
                
                <div class="skupovi-col col-lg-5">
                    
                    <div class="list-group list-group-flush">
                        
                        <h3 class="p-3" routerLink="/project">Skupovi</h3>
                        
                        <div class="list-group list-group-flush">
                            <a class="skup p-2" routerLink="/project">skup1</a>
                            <a class="skup p-2" routerLink="/project">skup2</a>
                            <a class="skup p-2" routerLink="/project">skup3</a>
                            <a class="skup p-2" routerLink="/project">skup4</a>
                            <a class="skup p-2" routerLink="/project">skup5</a>
                            
                        </div>
                        
                        <a class="add-button" routerLink="/project"> <i class="fa-solid fa-circle-plus"></i> </a>
                        
                    </div>
                    
                </div>
                
                <div class="modeli-col col-lg-5">
                    
                    <div class="list-group list-group-flush">
                        
                        <h3 class="p-3" routerLink="/project">Modeli</h3>
                        
                        <div class="list-group list-group-flush">
                            <a class="model p-2" routerLink="/project">model1</a>
                            <a class="model p-2" routerLink="/project">model2</a>
                            <a class="model p-2" routerLink="/project">model3</a>
                            <a class="model p-2" routerLink="/project">model4</a>
                        </div>
                        
                        <a class="add-button" routerLink="/project"> <i class="fa-solid fa-circle-plus"></i> </a>
                        
                    </div>
                    
                </div>
                
            </div>
            
        </div>
        
    </div> -->
    
    
</div>
