#wrapper{
    h1{
        width: 100%;
        text-align: center;
        font-size: 62px;
        color: var(--dugmeNewExpSlova);
        margin-bottom: 8%;
        cursor: default;
        font-weight: 500;
    }
    margin-top: 6%;
    width: 60%;
    
    .newProject{
        transition: 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
        background-color:var(--dugmeNewExp);
        backdrop-filter: blur(7px);
        border: solid 1px var(--dugmeNewExpBorder);
        margin-top: 60px;
        height: 130px;
        display: grid;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        
        &:hover{
            transition: 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
            background-color: var(--dugmeNewExpHover);
        }
        
        h3{
            text-align: center;
            font-size: 38px;
            color: var(--dugmeNewExpSlova);
            
            &:hover{
                color: var(--slovaDugmeNewExpHover);
            }
        }
    }
}