<navbar ></navbar>

<sidebar></sidebar>

<div class="content">
    
    <div id="wrapper">
        <h1> {{'lista-projekata.moji_eksperimenti' |translate}} </h1>
        
        <list-controls (OnSearch)="projectList.SetSearchTerm($event)" (OnOrderBy)="projectList.OrderBy($event)"></list-controls>
        
        <app-project-list #projectList [publicExp]=publicExp> </app-project-list>
        
        <div class="newProject" (click)="NewExperiment();">
            <h3>{{'lista-projekata.novi_eksperiment' |translate}}</h3>
        </div>
    </div>
    
</div>
