#wrapper{
    h1{
        width: 100%;
        text-align: center;
        font-size: xxx-large;
        color: #2C5D96;
        margin-bottom: 10%;
        cursor: default;
    }
    
    margin-top: 6%;
    width: 60%;
}