<div class="border-end" id="sidebar-wrapper" style="height:100%;">
    <div class="list-group list-group-flush sidebar">
        
        <a class="list-group-item list-group-item-action list-group-item-light p-2" routerLink="/project">Moji projekti</a>
        <div class="list-group list-group-flush sub-sidebar">
            <a class="list-group-item list-group-item-action list-group-item-light p-2" routerLink="/project">projekat1</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-2" routerLink="/project">projekat2</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-2" routerLink="/project">projekat3</a>
            <a class="list-group-item list-group-item-action list-group-item-light p-2" routerLink="/project">projekat4</a>
        </div>
        
        <a class="list-group-item list-group-item-action list-group-item-light p-2" routerLink="/project">Podesavanja</a>
        <div class="list-group list-group-flush">
            
        </div>
        
    </div>
</div>