<div class="container mt-md-5 p-5 bg-white rounded-3 shadow-sm border" style="max-width: 50em;">
    <h2 class="text-center pb-5">Unesite novu lozinku</h2>
    <form #f="ngForm" (ngSubmit)="onSubmit(f)" autocomplete="off">
      <div class="mb-3">
        <!-- <label for="exampleInputPassword1" class="form-label">Lozinka</label> -->
        <input type="password" placeholder="Lozinka" name="pass" ngModel required #pass="ngModel" [(ngModel)]="pass1" class="form-control" id="exampleInputPassword1"
        [class.invalid]="pass.touched && invalidPass1" (blur)="checkPass()" (input)="checkPass()">
      </div>
      <div class="mb-3">
        <!-- <label for="exampleInputPassword1" class="form-label">Lozinka</label> -->
        <input type="password" placeholder="Lozinka" name="pass" ngModel required #pass="ngModel" [(ngModel)]="pass2" class="form-control" id="exampleInputPassword2"
        [class.invalid]="pass.touched && invalidPass2" (blur)="checkPass2()" (input)="checkPass2()">
      </div>
      <button type="submit" [disabled]="invalidPass1 || invalidPass2" class="btn btn-primary">Izmeni</button>
      <div class="text-center text-lg-start mt-4 pt-2">
        <!-- Text - Pogresna lozinka -->
        <!-- <p *ngIf="invalidUsername" class="small fw-bold mt-2 pt-1 mb-0 text-danger"> Pogresan username </p>
        <p *ngIf="invalidPass" class="small fw-bold mt-2 pt-1 mb-0 text-danger"> Pogresna lozinka </p> -->
        </div>
  </form>
  </div>
