<!--
  navbar-dark - svetli tekst (za tamnu pozadinu)
  bg-dark - tamna pozadina, bg-primary - plava pozadina
-->
<nav class="navbar navbar-expand-sm navbar-dark bg-dark sticky-top shadow">
    <div class="container-fluid">
        
      <a class="navbar-brand" routerLink="/">Igrannonica</a>
      
      <!--
        Dugme za prikaz linkova na manjim ekranima / mobilnim uredjajima
      -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
      <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <ul class="navbar-nav">
            
          <li class="nav-item">
            <a class="nav-link" routerLink="/project" [routerLinkActive]="['active']"> Project&nbsp;test </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/csv" [routerLinkActive]="['active']"> CSV&nbsp;test </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" routerLink="/dataset" [routerLinkActive]="['active']"> DATASET&nbsp;test </a>
          </li>
          		
        </ul>		  
      </div>
      
      
    </div>
  </nav>
  