nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
    padding: 5px 5px 5px 30px;
    height: 50px;
    background: linear-gradient(90deg, #0C1B31 0%, #1C2E5B 47.92%, #0D1C32 100%);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    
    width: 100%;
    top: 0px;
    z-index: 100;
}

#leftSide{
    display: flex;
    flex-direction: row;
    align-items: center;
    
    height: 100%;
    cursor: pointer;
    
    img{
        height: 90%;
    }
    
    p{
        margin: 0px;
        font-size: 26px;
        color: #FFFFFF;
        transition: 0.3s ease-out;
        
        &:hover{
            color: #00BFFF;
            transition: 0.3s ease-in;
        }
    }
}

#rightSide{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    
    
    #user{
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 100%;
        
        p{
            margin: 0px !important;
            font-size: 16px;
            color: #FFFFFFBB;
            transition: 0.2s ease-out;
        
            &:hover{
                color: #FFFFFF;
                transition: 0.2s ease-in;
            }
        }
        
        img{
            margin-left: 10px;
            height: 32px;
            width: 32px;
            outline: solid 1px #FFFFFFAA;
        }
    }
    
}


// ZA MOBILNE TELEFONE
$light_color:#FFFFFF;

.toggler{
    position: fixed;
    top: 7px;
    right: 8px;
    width:36px;
    height:36px;
    border-radius: 2px;
    background-color: #009DF5;
    z-index: 1000 !important;
    border: none;
    display: none;
}
.navbar-toggler-icon{
    color:$light_color;
    width: 24px;
    height: 24px;
}



div{
    color:$light_color;
}
a{
    text-decoration: none;
    color:$light_color;
    font-size: xx-large;
}

.navDiv{
    position:fixed;
    z-index: 500;
    background: linear-gradient(344.95deg, rgba(12, 12, 51, 0.97) 0%, rgba(11, 20, 44, 0.97) 100%);
    backdrop-filter: blur(1px);
    height: 1000%;
    width:100%;
    top: 0%;
    left: 0%;
}
.div1{
    margin-bottom: 5%;
}
li{
    margin-bottom: 5%;
    text-align: center;
}
.lista{
    margin-top: 10%;
}

#controls{
    img{
        height: 22px;
        cursor: pointer;
        border-radius: 50%;
        
        &:hover:first-child{
            outline: solid 1px #FFFFFF;
        }
        
        &:first-child{
            margin-right: 10px;
        }
        &:last-child{
            margin-left: 10px;
        }
    }
}
hr{
    margin-top: 5%;
    margin-bottom: 5%;
}
#naslov{
    font-size: xxx-large;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 0%;
}
#igrannonica img{
    width: 12%;
    height: auto;
    position: relative;
    top: -27px;
}
#igrannonica{
    margin-top: 5%;
}

.container{
    margin-right: 0%;
}

@media screen and (max-width:1000px) {

    #rightSide {
      display: none;
    }
    
    .toggler{
        display: block;
    }
}

@media screen and (min-width:1001px) {
    #navTel{
        display:none;
    }
}