<div class="wrapper">
    
    <p class="title"> {{'metrics.'+title|translate}} </p>
    
    <table>
        <tr>
            <td>Training</td>
            <td>{{trainingValue | number : '.4'}}</td>
            <td>
                <div #trainingBarplot class="barplot"> </div>
            </td>
        </tr>
        
        <tr>
            <td>Validation</td>
            <td>{{validationValue | number : '.4'}}</td>
            <td>
                <div #validationBarplot class="barplot"> </div>
            </td>
        </tr>
        
        <tr>
            <td>Test</td>
            <td>{{testValue | number : '.4'}}</td>
            <td>
                <div #testBarplot class="barplot"> </div>
            </td>
        </tr>
    </table>
    
</div>