#batchSizeNum{
    color:blue;
    font-weight: bold;
}

.inout{
    color:blue;
}
.checkBoxovi{
    overflow: auto;
    min-height: 20vh;
    max-height: 60vh;
}
.box{
    width: 1.5rem;
    height: 1.5rem;
}
.sticky-top{
    top:50%;
}

