<div class="konfiguracija">
    
    <div class="opcijaContainer">
        <label for="ProblemType">Problem type</label>
        <div class="select">
            <select id="ProblemType" (change)="ChangeProblemType($event)">
                <option [selected]="neuralNetwork.conf.problemType == 'regression'" value="regression">Regression</option>
                <option [selected]="neuralNetwork.conf.problemType == 'classification'" value="classification">Classification</option>
            </select>
        </div>
    </div>
    
    <div class="opcijaContainer">
        <label>Metrics &nbsp; <i matTooltipClass="custom-tooltip"  matTooltip="Info about the action"  [matTooltipPosition]="'right'" *ngIf="selectedRegressionCount==0 && selectedClassificationCount==0" style="color: rgb(255, 128, 0)" class="bi bi-exclamation-octagon"></i></label> 
        
        
        <div class="optionsDropdown" (click)="ChangeMetricsSubmenu()" (blur)="CloseMetricsSubmenu($event)" tabindex="0" #metricsDropdown>
            
            <span *ngIf="neuralNetwork.conf.problemType == 'regression'"> {{selectedRegressionCount}}/5 </span>
            <ul class="submenu" #metricsSubmenu (click)="OpenMetricsSubmenu()" *ngIf="neuralNetwork.conf.problemType == 'regression'">
                <li *ngFor="let i = index; let metric of possibleRegressionMetrics" (click)="CheckUncheckRegression(i)">
                    <input type="checkbox" class="chck" [checked]="selectedRegressionMetrics[i]" (click)="CheckUncheckRegression(i); $event.preventDefault();" pointerevent>
                    {{('metrics.' + possibleRegressionMetrics[i])|translate}}
                </li>
            </ul>
            
            <span *ngIf="neuralNetwork.conf.problemType == 'classification'"> {{selectedClassificationCount}}/7 </span>
            <ul class="submenu" #metricsSubmenu (click)="OpenMetricsSubmenu()" *ngIf="neuralNetwork.conf.problemType == 'classification'">
                <li *ngFor="let i = index; let metric of possibleClassificationMetrics" (click)="CheckUncheckClassification(i)">
                    <input type="checkbox" class="chck" [checked]="selectedClassificationMetrics[i]" (click)="CheckUncheckClassification(i); $event.preventDefault();">
                    {{('metrics.' + possibleClassificationMetrics[i])|translate}}
                </li>
            </ul>
            
        </div>
        
    </div>

    <div class="opcijaContainer">
        <label>Loss function</label> 
        <div class="select">
            <select *ngIf="neuralNetwork.conf.problemType == 'regression'" id="LossReg" (change)="ChangeLossFun($event)">
                <option value="mse" [selected]="neuralNetwork.conf.loss == 'mse'">Mean Squared Error</option>
                <option value="mae" [selected]="neuralNetwork.conf.loss == 'mae'">Mean Absolut Error</option>
                <option value="mape" [selected]="neuralNetwork.conf.loss == 'mape'">Mean Absolut Percentage Error</option>
                <option value="msle" [selected]="neuralNetwork.conf.loss == 'msle'">Mean Squared Logarithmic Error</option>
                <option value="csl" [selected]="neuralNetwork.conf.loss == 'csl'">Cosine Slmilarity Loss</option>
                <option value="hub" [selected]="neuralNetwork.conf.loss == 'hub'">Huber Loss</option>
                <option value="psn" [selected]="neuralNetwork.conf.loss == 'psn'">Poisson Loss</option>
            </select>
            <select *ngIf="neuralNetwork.conf.problemType == 'classification' && this.neuralNetwork.conf.outputs.length <= 2" id="LossClass" (change)="ChangeLossFun($event)">
                <option value="bce" [selected]="neuralNetwork.conf.loss == 'bce'">Binary Cross-Entrophy</option>
                <option value="hng" [selected]="neuralNetwork.conf.loss == 'hng'">Hinge Loss</option>
                <option value="shng" [selected]="neuralNetwork.conf.loss == 'shng'">Squared Hinge Loss</option>
            </select>
            <select *ngIf="neuralNetwork.conf.problemType == 'classification' && this.neuralNetwork.conf.outputs.length > 2" id="LossClass" (change)="ChangeLossFun($event)">
                <option value="cce" [selected]="neuralNetwork.conf.loss == 'cce'">Categorical Cross-Entrophy</option>
                <option value="scce" [selected]="neuralNetwork.conf.loss == 'scce'">Sparse Categorical Cross-Entrophy</option>
                <option value="klb" [selected]="neuralNetwork.conf.loss == 'klb'">Kullback Leibler Divergence</option>
            </select>
            <!-- DODATI ZA MULTIKLASIFIKACIJU -->
        </div>
        
    </div>

    <div class="opcijaContainer">
        <label>Optimizer Function</label> 
        <div class="select">
            <select id="OptFun" (change)="ChangeOptFun($event)">
                <option value="adam" [selected]="neuralNetwork.conf.trainAlg == 'adam'">Adam</option>
                <option value="adamx" [selected]="neuralNetwork.conf.trainAlg == 'adamax'">Adamax</option>
                <option value="adagrad" [selected]="neuralNetwork.conf.trainAlg == 'adagrad'">Adagrad</option>
                <option value="adadelta" [selected]="neuralNetwork.conf.trainAlg == 'adadelta'">Adadelta</option>
                <option value="nadam" [selected]="neuralNetwork.conf.trainAlg == 'nadam'">NAdam</option>
                <option value="rmsprop" [selected]="neuralNetwork.conf.trainAlg == 'rmsprop'">RMSprop</option>
                <option value="ftrl" [selected]="neuralNetwork.conf.trainAlg == 'ftrl'">FTRL</option>
                <option value="sgd" [selected]="neuralNetwork.conf.trainAlg == 'sgd'">Gradient descent</option>
            </select>
            <!-- DODATI ZA MULTIKLASIFIKACIJU -->
        </div>
        
    </div>

    
    <div class="opcijaContainer">
        <label for="LearningRate">Learning rate</label>
        <div class="select">
            <select id="LearningRate" (change)="ChangeLearningRate($event)">
                <option [selected]="neuralNetwork.conf.learningRate == 0.00001">0.00001</option>
                <option [selected]="neuralNetwork.conf.learningRate == 0.0001">0.0001</option>
                <option [selected]="neuralNetwork.conf.learningRate == 0.001">0.001</option>
                <option [selected]="neuralNetwork.conf.learningRate == 0.003">0.003</option>
                <option [selected]="neuralNetwork.conf.learningRate == 0.01">0.01</option>
                <option [selected]="neuralNetwork.conf.learningRate == 0.03">0.03</option>
                <option [selected]="neuralNetwork.conf.learningRate == 0.1">0.1</option>
                <option [selected]="neuralNetwork.conf.learningRate == 0.3">0.3</option>
                <option [selected]="neuralNetwork.conf.learningRate == 1">1</option>
                <option [selected]="neuralNetwork.conf.learningRate == 3">3</option>
                <option [selected]="neuralNetwork.conf.learningRate == 10">10</option>
            </select>
        </div>
    </div>
    
    <div></div>
    
    <div class="opcijaContainer">
        <label for="Regularization">Regularization</label>
        <div class="select">
            <select id="Regularization" (change)="ChangeReg($event)">
                <option [selected]="neuralNetwork.conf.reg== 'None'">None</option>
                <option [selected]="neuralNetwork.conf.reg == 'L1'">L1</option>
                <option [selected]="neuralNetwork.conf.reg == 'L2'">L2</option>
            </select>
        </div>
    </div>
    
    
    <!-- <div class="opcijaContainer" *ngIf="neuralNetwork.conf.reg != 'None'"> -->
    <div class="opcijaContainer">
        <label for="RegularizationRate">RegularizationRate</label>
        <div class="select">
            <select [disabled]="neuralNetwork.conf.reg == 'None'" id="RegularizationRate" (change)="ChangeRegRate($event)">
                <option [selected]="neuralNetwork.conf.regRate == 0">0</option>
                <option [selected]="neuralNetwork.conf.regRate == 0.001">0.001</option>
                <option [selected]="neuralNetwork.conf.regRate == 0.003">0.003</option>
                <option [selected]="neuralNetwork.conf.regRate == 0.01">0.01</option>
                <option [selected]="neuralNetwork.conf.regRate == 0.03">0.03</option>
                <option [selected]="neuralNetwork.conf.regRate == 0.1">0.1</option>
                <option [selected]="neuralNetwork.conf.regRate == 0.3">0.3</option>
                <option [selected]="neuralNetwork.conf.regRate == 1">1</option>
                <option [selected]="neuralNetwork.conf.regRate == 3">3</option>
                <option [selected]="neuralNetwork.conf.regRate == 10">10</option>
            </select>
        </div>
    </div>
    
    <div class="opcijaContainer">
        <label for="BatchSize" class="form-label">Batch size</label>
        <div class="select">
            <select id="BatchSize" (change)="ChangeBatchSize($event)">
                <option [selected]="neuralNetwork.conf.batchSize == 1">1</option>
                <option [selected]="neuralNetwork.conf.batchSize == 2">2</option>
                <option [selected]="neuralNetwork.conf.batchSize == 4">4</option>
                <option [selected]="neuralNetwork.conf.batchSize == 8">8</option>
                <option [selected]="neuralNetwork.conf.batchSize == 16">16</option>
                <option [selected]="neuralNetwork.conf.batchSize == 32">32</option>
                <option [selected]="neuralNetwork.conf.batchSize == 64">64</option>
                <option [selected]="neuralNetwork.conf.batchSize == 128">128</option>
                <option [selected]="neuralNetwork.conf.batchSize == 256">256</option>
            </select>
        </div>
    </div>
    
    <div></div>
    
    <!-- VRATITI KASNIJE KADA BUDE REALIZOVANA PODELA NA ML DELU
    <div class="opcijaContainer">
        <label for="SplitType">Split type</label>
        <div class="select">
            <select id="SplitType" (change)="ChangeSplitType($event)">
                <option value="random" [selected]="neuralNetwork.conf.splitType == 'random'">Random</option>
                <option value="sequential" [selected]="neuralNetwork.conf.splitType == 'sequential'">Sequential</option>
            </select>
        </div>
    </div> 
    -->
    
    
    <!-- <div class="opcijaContainer" *ngIf="neuralNetwork.conf.splitType != 'random'"> -->
    <div class="opcijaContainer">
        <!-- <label for="TrainSplit" class="form-label">Train / Validation split: <span id="TrainSplit">{{neuralNetwork.conf.trainSplit | number : '.2-2'}}</span></label> -->
        <data-split-slider #dataSplitSlider (OnChange)="ChangeTrainValidationSplit($event)"></data-split-slider>
    </div>
        
</div>
