<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-8 data-table">
            
            <div id="dataset" [class.hidden]="correlationView">
                <data-set-table #dataset></data-set-table>
            </div>
        
            <div id="korelaciona" [class.hidden]="!correlationView">
                
            </div>
            
        </div>
        
        <div class="col-md-4 graf border">
            <!-- OVDE CE ICI GRAFIK KOMPONENTA -->
        </div>
    </div>
    
    <div class="row border config">
        
        <div class="button-group">
            <button (click)="switchTableView()"> Switch view </button>
            <button (click)="dataset.LoadDummyData()"> DATA (DEBUG) </button>
        </div>
        
        <div class="button-group">
            <button> Button </button>
            <button> Button </button>
            <button> Button </button>
        </div>
        
        <div class="button-group">
            <button> Button </button>
            <button> Button </button>
            <button> Button </button>
        </div>
        
        <div class="button-group">
            <button> Button </button>
            <button> Button </button>
        </div>
        
        <div class="button-group">
            <button> Button </button>
            <button> Button </button>
        </div>
        
        
    </div>
    
</div>
