<div class="container-fluid">
    
    <div class="row">
        <div class="col-md-8 data-table">
            
            <div id="dataset" [class.hidden]="correlationView || loader.isLoading">
                <data-set-table #dataset [onBind]="this.onBind" (loadingStartedEvent)="loader.start();" (loadedEvent)="loader.stop();"></data-set-table>
            </div>
        
            <div id="korelaciona" [class.hidden]="!correlationView || loader.isLoading">
                
            </div>
            
            <loader #loader class="loader"></loader>
            
        </div>
        
        <div class="col-md-4 graf border">
            <!-- OVDE CE ICI GRAFIK KOMPONENTA -->
        </div>
    </div>
    
    <div class="row border config">
        
        <div class="button-group">
            <button (click)="switchTableView();"> Switch view </button>
            <button (click)="dataset.LoadDummyData();"> Local Dataset (DEBUG) </button>
        </div>
        
        <div class="button-group">
            <button> Button </button>
            <button> Button </button>
            <button> Button </button>
        </div>
        
        <div class="button-group">
            <button> Button </button>
            <button> Button </button>
            <button> Button </button>
        </div>
        
        <div class="button-group">
            <button> Button </button>
            <button> Button </button>
        </div>
        
        <div class="button-group">
            <button> Button </button>
            <button> Button </button>
        </div>
        
        
    </div>
    
</div>
