.invalid {
    border: solid 1px #ff000066 !important;
    border-radius: 0px;
    background-color: #ff9a9a33;
    

    &:hover {
        background-color: #ff6e6e33 !important;
    }

    &:focus {
        background-color: #ff6e6e33 !important;
    }

    &::placeholder {
        color: #ff8484cc;
    }
}

#submit{
    background-color: transparent;
    border:1px solid transparent;
    border-image:linear-gradient(-15deg, #2C4396 0%, #23AFC2 48.96%, #2C4396 100%);
    border-image-slice:1;
    color: #EEEEEE;
    padding-left:8%;
    padding-right:8%;
}
a{
    text-decoration: none;
    color:#00C2FF;
}

h2{
    font-weight: lighter;
    font-size: 48px;
}

.info {
    color: #FFFFFF;
}

.link{
    font-size: large;
    font-weight: bold;
    color: #00C2FF;
    text-decoration: transparent;
}

.container {
    border:1px solid transparent;
    border-image:linear-gradient(-30deg, #2C4396 0%, #23AFC2 48.96%, #2C4396 100%);
    background-origin: border-box;
    border-image-slice:1;
    background: rgba(0, 178, 255, 0.05);
    backdrop-filter: blur(20px);
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 3%;
    padding-bottom: 3%;
}

input {
    border:1px solid transparent;
    border-image:linear-gradient(-5deg, #2C4396 0%, #23AFC2 48.96%, #2C4396 100%);
    border-image-slice:1;
    background-color: transparent;
    color:#00C2FF;
    
    &:focus{
        color: #FFFFFF;
        background: none;
    }
}