<div class="container mt-md-1 shadow-sm" style="max-width: 50em;">
  <h2 class="info text-center pb-5">{{"login.login"|translate}} </h2>
  <form #f="ngForm" (ngSubmit)="onSubmit(f)" autocomplete="off">
    <div class="mb-3">
      <!-- <label for="exampleInputEmail1" class="form-label">Username</label> -->
      <input type="text" placeholder="{{'login.username_placeholder'|translate}}" name="username" ngModel required #username="ngModel" [(ngModel)]="login.username" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
      [class.invalid]="username.touched && invalidUsername" (blur)="checkUsername()" (input)="checkUsername()">
    </div>
    <div class="mb-3">
      <!-- <label for="exampleInputPassword1" class="form-label">Lozinka</label> -->
      <input type="password" placeholder="{{'login.password_placeholder'|translate}}" name="pass" ngModel required #pass="ngModel" [(ngModel)]="login.password" class="form-control" id="exampleInputPassword1"
      [class.invalid]="pass.touched && invalidPass" (blur)="checkPass()" (input)="checkPass()">
    </div>
    <!-- <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="info form-check-label" for="exampleCheck1">{{"login.zapamti_me"|translate}}</label>
    </div> -->

    
    <div class="form-group d-flex justify-content-center flex-direction-column">
      <button id="submit" type="submit" [disabled]="f.invalid || invalidPass || invalidUsername" class="btn">{{"login.dugme"|translate}}</button>
    </div>
    
    <p *ngIf="isSignUpFailed" class="small fw-bold mt-2 pt-1 mb-0 text-danger">{{"login.login-greska"|translate}}</p>
    

    <div class="text-center text-lg-start mt-4 pt-2">
      <!-- Text - Pogresna lozinka -->
      <!-- <p *ngIf="invalidUsername" class="small fw-bold mt-2 pt-1 mb-0 text-danger"> Pogresan username </p>
      <p *ngIf="invalidPass" class="small fw-bold mt-2 pt-1 mb-0 text-danger"> Pogresna lozinka </p> -->
      </div>
    <div class="mb-3 mt-3">

        <p class="info"><a  routerLink="/input-username" class="link link-danger">{{"login.forgot1"|translate}}</a></p>
        <p class="info">{{"login.register1"|translate}}<a  routerLink="/registration" class="link link-danger">{{"login.register2"|translate}}</a></p>

    </div>
</form>
</div>
