<div class="container" style="width:100%">
<button *ngIf="sakriveno" class="btn btn-secondary" (click)="onClick()">{{'create-neural-network.kreiraj'|translate}}</button>
<div id="forma" *ngIf="!sakriveno">
<form #nnf="ngForm" (ngSubmit)="onSubmit(nnf)"> 
    <div class="mb-3">
      <label for="nnName">{{'create-neural-network.name'|translate}}</label>
      <input maxlength="30" type="text" class="form-control" id="nnName" name="nnName" ngModel required #nnName="ngModel"  placeholder="{{'create-neural-network.name'|translate}}">
      <!-- maksimalan broj karaktera je 30 -->
      <p class="textarea-info">{{'new-project.poruka'|translate}}</p>
    </div>
    <div class="row">
      <div class="col-6">
    <button type="submit" [disabled]="nnf.invalid" class="btn btn-primary mt-3">{{'create-neural-network.submit'|translate}}</button>
  </div>
  <div class="col-6 d-flex justify-content-end">
    <button type="submit" (click)="closeClick()" class="btn btn-danger mt-3"><i class="bi bi-x-lg"></i></button>
  </div>
  </div>
</form>
</div>
</div>