<div  class="projectsList" *ngIf="projects.length > 0">
    
  <div *ngFor="let project of filteredProjects" class="project" > 
    
    <div class="projectLeft">
      <p class="title" (click)="onClick(project.ProjectId)"> {{project.Name}} </p>
      
      <p class="created"> {{'lista-projekata.kreiran'|translate}} {{project.Creationdate}} </p>
    
      <p class="description">{{project.Description}}</p>
    </div>
    
    <div *ngIf="project.Username==authService.korisnickoIme || myExp==true" class="projectRight">
      
      <button type="button" class="remove-button d-flex align-items-center justify-content-center" (click)="RemoveProject($event, project.ProjectId)"> 
        <i class="bi bi-trash"></i> 
      </button>
      
      <div class="counters">
        
      </div>
      
    </div>
    
  </div>
    
</div>

<p id="emptyTitle" *ngIf="projects.length == 0"> {{'lista-projekata.nema'|translate}} </p>


