.containerr{
    margin: auto;
    margin-top: 240px;
    width: 75%;
    height: 300px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    
    h1{
        text-align: center;
        font-size: 64px;
        color: #007BFF;
    }
    
    button{
        min-width: 200px;
        height: 50px;
        border: solid 1px #007BFF;
        background-color: #FFFFFF00;
        
        transition: ease 0.25s;
        
        &:hover{
            border: solid 1px #a5d0fd;
            color: #FFFFFF;
            background-color: #007BFF;
        }
    }
}