#grid{
    width: 100%;
    
    display: grid;
    column-gap: 1%;
    grid-template-columns: 74% 25%;
    
}

#datasetDisplay{
    height: 650px;
    display: grid;
    grid-template-rows: 600px 50px;
    row-gap: 15px;
    
    
    #datasetContainer{
        max-height: 80vh;
        background-color: #FFFFFF77;
        backdrop-filter: blur(7px);
        border: solid 1px #0091ff;
        overflow-x: scroll;
        scroll-behavior: smooth;
    }
    
    
    #controls{
        background-color: #FFFFFF77;
        backdrop-filter: blur(7px);
        border: solid 1px #0091ff;
        height: fit-content;
        padding: 5px 0px 5px 0px;
    }
    
}

#datasetInput{
    height: 650px;
    
    border: dashed 5px #a6c0e7;
}

.settingsButton{
    float: right;
    border: none;
    background: transparent;
    padding: 0px !important;
    width: 24px;
    height: 24px;
    transform-origin: center;
    transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    
    svg{
        width: 24px;
        height: 24px;
        path{
            fill: #0077ff;
        }
    }
    
    &:hover{
        transform: scale(1.2);
        transition: 1s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
}

#descriptionContainer{
    max-height: 100%;
    height: fit-content;
    background-color: var(--ExpOverviewDescriptionCont);
    backdrop-filter: blur(7px);
    border: solid 1px var(--ExpOverviewDescriptionContBorder);
    padding: 20px 30px 20px 30px;
    
    #descriptionHeader{
        width: 100%;
        display: flex;
        align-items: flex-start;
        column-gap: 8px;
        
        img{
            height: 42px;
            width: 42px;
            border: solid 1px var(--ExpOverviewDescriptionContImgBorder);
        }
        
        h2{
            font-size: 20px;
            margin: 0px;
            font-weight: bold;
            color: #333333;
        }
        
        p{
            font-size: 12px;
            color: #666666;
            margin: 0px;
        }
    }
    
    #description{
        margin-top: 30px;
        h2{
            font-size: 20px;
            color: #2C5D96;
            margin: 0px;
        }
        
        .descriptionInput{
            resize: none;
            border: none;
            width: 100%;
            height: 160px;
            
            background: transparent;
            margin-top: 10px;
            font-size: 12px;
            color: #555555;
            
            &::content{
                overflow-y: visible;
            }
            
            &:focus{
                outline: none;
                border: solid 1px #AAAAAA;
            }
        }
    }
    
    label{  
        font-size: 16px;
        color: #2C5D96;
    }
    #publicCheckbox{
        cursor: pointer;
        margin-left: 5px;
    }
    
    
    #descriptionFooter{
        margin-top: 30px;
        display: grid;
        grid-template-columns: 45% 45%;
        column-gap: 10%;
        
        p{
            margin: 0px;
            font-size: 12px;
            color: #888888;
        }
    }
    
}





// 1200 PX ======================================
@media screen and (max-width: 1200px) {
    
    #grid{
        grid-template-columns: 100%;
        row-gap: 20px;
    }
    
}

// 850 PX ======================================
@media screen and (max-width: 850px) {
    
    #grid{
        grid-template-columns: 100%;
        row-gap: 60px;
        margin-bottom: 50px;
    }
    
}