<div id="selector">
    
    <svg width="25px" height="25px" viewBox="0 0 14.5 14.5" (click)="Select(0);">
        <path d="M7.221,0.433l-6.788,6.788l6.788,6.788l6.788,-6.788l-6.788,-6.788Z" [class.optionBorderSelected]="selectedOption == 0" [class.optionBorder]="selectedOption != 0"/>
        <path d="M7.221,4.506l-2.715,2.715l2.715,2.715l2.715,-2.715l-2.715,-2.715Z" [class.optionDotSelected]="selectedOption == 0" [class.optionDot]="selectedOption != 0"/>
    </svg>

    <svg width="25px" height="25px" viewBox="0 0 14.5 14.5" (click)="Select(1);">
        <path d="M7.221,0.433l-6.788,6.788l6.788,6.788l6.788,-6.788l-6.788,-6.788Z" [class.optionBorderSelected]="selectedOption == 1" [class.optionBorder]="selectedOption != 1"/>
        <path d="M7.221,4.506l-2.715,2.715l2.715,2.715l2.715,-2.715l-2.715,-2.715Z" [class.optionDotSelected]="selectedOption == 1" [class.optionDot]="selectedOption != 1"/>
    </svg>
    
    <svg width="25px" height="25px" viewBox="0 0 14.5 14.5" (click)="Select(2);">
        <path d="M7.221,0.433l-6.788,6.788l6.788,6.788l6.788,-6.788l-6.788,-6.788Z" [class.optionBorderSelected]="selectedOption == 2" [class.optionBorder]="selectedOption != 2"/>
        <path d="M7.221,4.506l-2.715,2.715l2.715,2.715l2.715,-2.715l-2.715,-2.715Z" [class.optionDotSelected]="selectedOption == 2" [class.optionDot]="selectedOption != 2"/>
    </svg>
    
    <svg width="25px" height="25px" viewBox="0 0 14.5 14.5" (click)="Select(3);">
        <path d="M7.221,0.433l-6.788,6.788l6.788,6.788l6.788,-6.788l-6.788,-6.788Z" [class.optionBorderSelected]="selectedOption == 3" [class.optionBorder]="selectedOption != 3"/>
        <path d="M7.221,4.506l-2.715,2.715l2.715,2.715l2.715,-2.715l-2.715,-2.715Z" [class.optionDotSelected]="selectedOption == 3" [class.optionDot]="selectedOption != 3"/>
    </svg>
    
</div>