.loader-container{
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 100vw;
    position: absolute;
    background-color: #000000DD;
}

img{
    height: 250px;
    width: 250px;
    user-select: none;
    -webkit-user-drag: none;
}

.hidden{
    display: none;
}

@media only screen and (max-width: 600px) {
    img {
        height: 180px;
        width: 180px;
    }
}