#grid{
    width: 100%;
    
    display: grid;
    row-gap: 80px;
    grid-template-rows: auto auto auto;
    
    margin: 50px 0px 100px 0px;
    
    
    #editSection{
        max-height: 660px;
        height: 80vh;
        width: 100%;
        
        display: grid;
        column-gap: 1%;
        grid-template-columns: 74% 25%;
        
        #leftColumn{
            display: grid;
            row-gap: 10px;
            grid-template-rows: auto auto;
            
            #optionsContainer{
                z-index: 3;
                background-color: var(--ExpOverviewDatasetContainer);
                backdrop-filter: blur(5px);
                border: solid 1px #0091ff;
                height: 46px;
                padding: 5px;
                
                display: flex;
                align-items: center;
                justify-content: space-between;
                
                .downloadButton{
                    transition: background-color 0.2s ease, color 0.2 ease;
                    position: relative;
                    width: 160px;
                    height: 36px;
                    color: #FFFFFFDD;
                    background-color: #2866a0;
                    text-align: left;
                    padding: 0px 10px 0px 10px;
                    line-height: 36px;
                    cursor: pointer;
                    user-select: none;
                    border: none;
                    
                    .downloadIcon{
                        transition: 0.2s ease;
                        position: absolute;
                        right: 14px;
                        top: 10px;
                    }
                    
                    &:hover{
                        transition: background-color 0.2s ease, color 0.2 ease;
                        color: #FFFFFF;
                        background-color: #0f416f;
                    }
                }
                
                
                .optionsWrapper{
                    display: flex;
                    align-items: center;
                    
                    .optionsDropdown{
                        transition: background-color 0.2s ease, color 0.2 ease;
                        position: relative;
                        width: 160px;
                        height: 36px;
                        color: #FFFFFFDD;
                        background-color: #2866a0;
                        text-align: left;
                        padding: 0px 10px 0px 10px;
                        line-height: 36px;
                        cursor: pointer;
                        user-select: none;
                        margin-right: 10px;
                        font-size: 14px;
                        
                        .dropdownIcon{
                            width: 14px;
                            height: 14px;
                            transition: 0.2s ease;
                            position: absolute;
                            right: 12px;
                            top: 12px;
                        }
                        
                        &:hover{
                            transition: background-color 0.2s ease, color 0.2 ease;
                            color: #FFFFFF;
                            background-color: #0f416f;
                            
                            .submenu{
                                display: block;
                            }
                            
                            .dropdownIcon{
                                transition: 0.2s ease;
                                transform: scaleY(-1);
                            }
                        }
                        
                        .submenu{
                            display: none;
                            list-style: none;
                            left: 0px;
                            position: absolute;
                            padding: 0px;
                            background-color: #1a4074;
                            
                            animation: submenuSlide 0.2s ease;
                            
                            button{
                                transition: background-color 0.2s ease, color 0.2 ease;
                                width: 220px;
                                height: 36px;
                                padding: 0px 10px 0px 10px;
                                margin: 0px;
                                font-size: 12px;
                                border: none;
                                text-align: left;
                                color: #FFFFFFDD;
                                background-color: #235395;
                                
                                &:hover{
                                    transition: background-color 0.2s ease, color 0.2 ease;
                                    color: #FFFFFF;
                                    background-color: #1d4b7b;
                                }
                                
                            }
                            
                            .disabled{
                                color: #FFFFFF55;
                                background-color: #6c7c93;
                                cursor: default;
                                
                                &:hover{
                                    color: #FFFFFF55;
                                    background-color: #6c7c93;
                                }
                            }
                        }
                        
                        @keyframes submenuSlide {
                            0% {
                                opacity: 0;
                                transform-origin: left;
                                transform: translateX(15px);
                            }
                            100% {
                                opacity: 1;
                                transform: none;
                            }
                        }
                    }
                    
                }
                
            }
            
            #datasetContainer{
                background-color: var(--ExpOverviewDatasetContainer);
                backdrop-filter: blur(5px);
                overflow-x: auto;
                
                min-height: 560px;
                width: 100%;
            }
            
            #controlsContainer{
                background-color: var(--ExpOverviewDatasetContainer);
                backdrop-filter: blur(5px);
                border: solid 1px #0091ff;
                
                min-height: 40px;
                width: 100%;
            }
            
        }
        
        
        
        
        #rightColumn{
            min-height: 600px;
            max-height: 90vh;
            
            display: grid;
            row-gap: 2%;
            grid-template-rows: 46% 52%;
            
            #globalChangesContainer{
                background-color: var(--ExpOverviewDatasetContainer);
                backdrop-filter: blur(5px); 
                border: solid 1px #0091ff;
                padding: 25px;
                
                h3{
                    font-size: 20px;
                    color: var(--tableDescription);
                    margin-bottom: 10px;
                    font-weight: 400;
                }
                
                .changesDisplay{
                    width: 100%;
                    height: calc(100% - 40px);
                    overflow-y: auto;
                    
                    .change{
                        background-color: var(--ExpOverviewDatasetContainer);
                        width: 100%;
                        height: 34px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-evenly;
                        margin-bottom: 6px;
                        
                        .action{
                            border: solid 1px #2C5D96;
                            width: 42%;
                            height: 100%;
                            font-size: 12px;
                            line-height: 34px;
                            padding-left: 8px;
                        }
                        
                        .affectedColumns{
                            border-top: solid 1px #2C5D96;
                            border-bottom: solid 1px #2C5D96;
                            width: 43%;
                            height: 100%;
                            font-size: 12px;
                            line-height: 34px;
                            padding-left: 8px;
                        }
                        
                        button{
                            background-color: #2866A0;
                            border: none;
                            width: 15%;
                            height: 100%;
                            
                            svg path{
                                fill: #FFFFFFDD;
                            }
                            
                            &:hover{
                                background-color: #15518a;
                                
                                svg path{
                                    fill: #FFFFFF;
                                }
                            }
                        }
                        
                    }
                }
                
                /*
                #saveDisplay{
                    background-color: var(--ExpOverviewDatasetContainer);
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    height: 36px;
                    border: solid 1px #275fb4;
                    line-height: 36px;
                    padding: 0px 18px 0px 15px;
                    font-size: 16px;
                    color: #000000;
                    font-weight: 300;
                    cursor: pointer;
                    
                    svg{
                        .dot1, .dot2{
                            transition: 0.15s ease;
                        }
                    }
                    
                    &:hover{
                        svg{
                            .dot1{
                                transition: 0.15s ease;
                                transform: translateY(-2px);
                            }
                            .dot2{
                                transition: 0.15s ease;
                                transform: translateY(2px);
                            }
                        }
                    }
                    
                }
                */
                
                p{
                    color: var(--tableDescription);
                    margin: 6px 0px 16px 0px !important;
                    font-size: 12px;
                }
                
            }
            
            
            #localChangesContainer{
                background-color: var(--ExpOverviewDatasetContainer);
                backdrop-filter: blur(5px); 
                border: solid 1px #0091ff;
                padding: 25px;
                
                h3{
                    font-size: 20px;
                    color: var(--tableDescription);
                    margin-bottom: 15px;
                    font-weight: 400;
                }
                
                .changesDisplay{
                    width: 100%;
                    height: calc(100% - 75px);
                    overflow-y: auto;
                    
                    .change{
                        background-color: var(--ExpOverviewDatasetContainer);
                        border: solid 1px #2C5D96;
                        width: 100%;
                        height: 34px;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-evenly;
                        margin-bottom: 6px;
                        
                        .action{
                            border-right: solid 1px #2C5D96;
                            width: 42%;
                            height: 100%;
                            font-size: 12px;
                            line-height: 34px;
                            padding-left: 8px;
                        }
                        
                        .affectedColumns{
                            width: 43%;
                            height: 100%;
                            font-size: 12px;
                            line-height: 34px;
                            padding-left: 8px;
                        }
                        
                        button{
                            background-color: #2866A0;
                            border: none;
                            width: 15%;
                            height: 100%;
                            
                            svg path{
                                fill: #FFFFFFDD;
                            }
                            
                            &:hover{
                                background-color: #15518a;
                                
                                svg path{
                                    fill: #FFFFFF;
                                }
                            }
                        }
                        
                    }
                }
                
                .buttonPair{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    width: 100%;
                    
                    button{
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        width: 150px;
                        height: 38px;
                        text-align: left;
                        padding: 0px 12px 0px 10px;
                        border: none;
                        background-color: #2866A0;
                        color: #FFFFFFDD;
                        
                        svg path{
                            fill: #FFFFFFDD;
                        }
                        
                        &:hover{
                            background-color: #15518a;
                            color: #FFFFFF;
                            
                            svg path{
                                fill: #FFFFFF;
                            }
                        }
                    }
                }
                
            }
            
            
            
        }
        
    }
    
    
    #firstRow{
        height: fit-content;
        width: 100%;
        min-height: 400px;
        max-height: 90vh;
        
        display: grid;
        column-gap: 1%;
        grid-template-columns: 74% 25%;
        
        #correlationWrapper{
            p{
                color: var(--tableDescription);
                font-size: 22px;
                line-height: 40px;
                height: 40px;
                margin: 0px !important;
            }
            
            #correlationContainer{
                background-color: var(--ExpOverviewDatasetContainer);
                backdrop-filter: blur(5px);
                overflow-x: auto;
                height: calc(100% - 40px);
            }
        }
        
        #statisticsGraph{
            background-color: var(--ExpOverviewDatasetContainer);
            backdrop-filter: blur(5px); 
            border: solid 1px #0091ff;
        }
        
    }
    
    
    #secondRow{
        width: 100%;
        min-height: 300px;
        
        display: grid;
        column-gap: 2%;
        grid-template-columns: 49% 49%;
        
        
        
        .statisticsWrapper{
            height: 100%;
            overflow-x: scroll !important;
            
            
            p{
                height: 40px;
                color: var(--tableDescription);
                font-size: 22px;
                line-height: 40px;
                margin: 0px;
            }
            
            .statisticsContainer{
                width: 100%;
                height: calc(100% - 40px);
                backdrop-filter: blur(5px);
                
            }
        }
        
    }
    
    
}


// 1600px =================================
@media screen and (max-width: 1600px) {
    #grid{
        #datasetRow{
            column-gap: 0%;
            grid-template-columns: 100%;
            grid-template-rows: auto auto;
            row-gap: 25px;
        }
        
        #firstRow{
            column-gap: 0%;
            grid-template-columns: 100%;
            grid-template-rows: auto auto;
            row-gap: 25px;
        }
        
        #secondRow{
            column-gap: 0%;
            grid-template-columns: 100%;
            grid-template-rows: auto auto;
            row-gap: 25px;
        }
    }
}

// 660px =================================
/*
@media screen and (max-width: 660px) {
    #grid{
        
    }
}
*/