img{
    height: 22px;
    cursor: pointer;
    border-radius: 50%;
    
    &:hover:first-child{
        outline: solid 1px #FFFFFF;
    }
    
    &:first-child{
        margin-right: 10px;
    }
    &:last-child{
        margin-left: 10px;
    }
}