#wrapper {
    h1 {
        width: 100%;
        text-align: center;
        font-size: 62px;
        color: var(--dugmeNewExpSlova);
        margin-bottom: 8%;
        cursor: default;
        font-weight: 500;
    }
    margin-top: 6%;
    width: 60%;
}

