
.poruka {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: large;
    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
.yesNo{
    color: #FFFFFF;
    border: #FFFFFF;
    width:15%;
}

.closeButton{
    background-color: #AD3535;
}


.opomena{
    color:#FF0000;
}

//izgled popup-a se nalazi u styles.scss .mat-dialog-container 