<div class="container">
    <div class="close d-flex justify-content-end">
        <button class="btn closeButton" (click)="close()"><i class="bi bi-x-lg" style="color: white;"></i></button>
    </div>
    <div class="popup">
        <div class="poruka my-4">
            {{poruka}}
        </div>
        <div class="yes_no">
            <div class="d-flex justify-content-center">
                <button mat-dialog-close mat-dialog-close="yes" class="yesButton">{{"popup-window.da" | translate }}</button>
                <button mat-dialog-close mat-dialog-close="no" class="noButton">{{"popup-window.ne" | translate }}</button>
            </div>
        </div>
        <div class="opomena d-flex justify-content-center my-4">
            <p>{{"popup-window.opomena" | translate }}</p>
        </div>
    </div>
</div>