<div class="container">
    
    <!--
        <div class="close d-flex justify-content-end">
        <button class="btn closeButton" (click)="close()"><i class="bi bi-x-lg" style="color: white;"></i></button>
    </div>
    -->
    
    <div class="close d-flex justify-content-end">
        <button class="exitButton" (click)="close();">
            <img src="/assets/Images/Icons/x.svg">
        </button>
    </div>
    
    <div class="popup">
        <div class="poruka my-4">
            {{poruka}}
        </div>
        <div class="yes_no">
            <div class="d-flex justify-content-center">
                <button *ngIf="auth.logovan"  mat-dialog-close mat-dialog-close="yes" class="yesButton mx-2">{{"popup-window.da" | translate }}</button>
                <button  *ngIf="auth.logovan" mat-dialog-close mat-dialog-close="no" class="noButton mx-2">{{"popup-window.ne" | translate }}</button>
                <button  *ngIf="!auth.logovan" mat-dialog-close mat-dialog-close="no" class="noButton mx-2">Ok</button>
            </div>
        </div>
        <br>
        <div *ngIf="auth.logovan" class="opomena d-flex justify-content-center my-4">
            <p>{{"popup-window.opomena" | translate }}</p>
        </div>
    </div>
</div>