.remove-button{
    transition: 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    background-color: #c83030; 
    border: solid 1px #7a0000;
    color: #FFFFFF; 
    font-weight: bold;
    float: right;
    
    width: 32px;
    height: 32px;
    
    &:hover{
        transition: 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        background-color: #970000;
    }
    
    &:focus{
        outline: none;
    }
}

#emptyTitle{
    margin-top: 50px;
    text-align: center;
    width: 100%;
    display: block;
    font-size: 32px;
    color: var(--projectsListEmptyTitle);
    cursor: default;
}







.projectsList{
    width: 100%;
    margin-bottom: 30px;
}

.project{
    min-height: 160px;
    transition: 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: var(--projectListProject);
    backdrop-filter: blur(3px);
    border: solid 1px var(--projectListProjectBorder);
    padding: 20px;
    margin-top: 25px;
    display: grid;
    grid-template-columns: 70% 30%;
    
    &:hover{
        transition: 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
        background-color: var(--projectListProjectHover);
    }
    
    .projectLeft{
        .title{
            display: inline;
            font-size: 26px;
            font-weight: 400;
            color: var(--projectListProjectTitle);
            margin: 0px;
            cursor: pointer;
            transition: 0.2s ease-in;
            
            &:hover{
                transition: 0.2s ease-out;
                color: var( --projectListProjectTitleHover);
            }
        }
        
        .created{
            font-size: 11px;
            color: var(--projectListProjectCreated);
        }
        
        .description{
            font-size: 12px;
            color: var(--projectListProjectDescription);
            width: 100%;
            margin: 0px;
        }
    }
    
    .projectRight{
        
        .userInfoGroup{
            
            display: flex;
            align-items: center;
            justify-content: flex-end;
            
            .nameGroup{
                .fullname{
                    margin: 0px;
                    text-align: right;
                    font-size: 18px;
                    color: var(--projectListProjectFullName);
                }
                
                .username{
                    margin: 0px;
                    text-align: right;
                    color: var(--projectListProjectUserName);
                }
            }
            
            img{
                width: 40px;
                height: 40px;
                border: solid 1px var(--projectListProjectBorder);
                margin-left: 10px;
            }
        }
    }
    
}

.remove-button{
    transition: 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    background-color: #c83030; 
    border: solid 1px #7a0000;
    color: #FFFFFF; 
    font-weight: bold;
    float: right;
    
    width: 32px;
    height: 32px;
    
    &:hover{
        transition: 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        background-color: #970000;
    }
    
    &:focus{
        outline: none;
    }
}

#emptyTitle{
    margin-top: 50px;
    text-align: center;
    width: 100%;
    display: block;
    font-size: 32px;
    color: var(--projectsListEmptyTitle);
    cursor: default;
}