.projectsList{
    width: 100%;
    margin-bottom: 30px;
}

.project{
    transition: 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
    background-color: #FFFFFF33;
    backdrop-filter: blur(3px);
    border: solid 1px #0091ff;
    padding: 20px;
    margin-top: 25px;
    display: grid;
    grid-template-columns: 70% 30%;
    
    &:hover{
        transition: 0.25s cubic-bezier(0.165, 0.84, 0.44, 1);
        background-color: #FFFFFF55;
    }
    
    .projectLeft{
        .title{
            display: inline;
            font-size: 26px;
            font-weight: 600;
            color: #2C5D96;
            margin: 0px;
            cursor: pointer;
            transition: 0.2s ease-in;
            
            &:hover{
                transition: 0.2s ease-out;
                color: #0091ff;
            }
        }
        
        .created{
            font-size: 11px;
            color: #888888;
        }
        
        .description{
            font-size: 12px;
            color: #555555;
            width: 100%;
            margin: 0px;
        }
    }
    
    .projectRight{
        
        .userInfoGroup{
            
            display: flex;
            align-items: center;
            justify-content: flex-end;
            
            .nameGroup{
                .fullname{
                    margin: 0px;
                    text-align: right;
                    font-size: 18px;
                    color: #000000;
                }
                
                .username{
                    margin: 0px;
                    text-align: right;
                    color: #444444;
                }
            }
            
            img{
                margin-left: 15px;
                width: 40px;
                height: 40px;
                border: solid 1px #0091FF;
            }
        }
    }
    
}

.remove-button{
    transition: 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
    background-color: #c83030; 
    border: solid 1px #7a0000;
    color: #FFFFFF; 
    font-weight: bold;
    float: right;
    
    width: 32px;
    height: 32px;
    
    &:hover{
        transition: 0.25s cubic-bezier(0.455, 0.03, 0.515, 0.955);
        background-color: #970000;
    }
    
    &:focus{
        outline: none;
    }
}

#emptyTitle{
    margin-top: 50px;
    text-align: center;
    width: 100%;
    display: block;
    font-size: 32px;
    color: #555555;
    cursor: default;
}