<div class="container">
    <div class="tabela">
        
        <table class="tabela1 table table-bordered table-hover table-responsive ">
            
            <thead>
                <!-- REZ NA NAZIVE KOLONA -->
                <tr class=""> 
                    
                    <!-- DODATNA KOLONA-->
                    <th style="font-weight: bold; border-right: solid 2px black;"></th>
                    
                    <th scope="col" *ngFor="let column of columns"> 
                        {{column}}
                    </th> 
                </tr>
            </thead>
            
            <tbody>
                
                <tr *ngFor="let row of columns; let i = index">
                    
                    <!-- CELIJE ZA NAZIV REDOVA -->
                    <td style="font-weight: bold; border-right: solid 2px black;">
                        {{row}}
                    </td>
                    
                    <!-- CELIJE IZ KORELACIONE TABELE -->
                    <td class="" *ngFor="let cell of correlationMatrix[i]" [ngStyle]="GetCorrelationColor(cell)" >
                        {{cell}}
                    </td>
                    
                </tr>
                
            </tbody>
            
        </table>
    </div>
</div>
