$tamna:#343a40;
$svetla:#ced4da;
$tekst:white;
$tekst1:black;

.limiter {
    width: 100%;
    margin: 0 auto;
}

.tabela{
    max-width: 100%;
    max-height: 70vh;
    overflow:scroll ;
    scroll-behavior: smooth;
}

th{
    white-space: nowrap;
}
td{
    white-space: nowrap;
}

table {
    width: 100%;
    background-color: #ffffff;
}

.col{
    width: 40vh;
}


.prvi
{
    background-color: $svetla;
    color:$tekst1;
}

.table{
    background-color: $svetla;
    color:$tekst1;
}

.th
{
    border-bottom: none;
}