<table>
    
    <thead>
        
        <!-- RED ZA KOLONE -->
        <tr>
            <th scope="col"></th>
            
            <th scope="col" *ngFor="let column of columns">
                {{column}}
            </th>
        </tr>
    </thead>
    
    <tbody>
        <!-- RED PODATAKA -->
        <tr *ngFor="let i = index; let column of columns">
            
            <!-- CELIJE ZA NAZIV REDOVA -->
            <td class="firstCol">
                {{column}}
            </td>
            
            <!-- CELIJE IZ KORELACIONE TABELE -->
            <td *ngFor="let cell of correlationMatrix[i]" [ngStyle]="GetCorrelationColor(cell)" >
                {{cell | number : '.2-2'}}
            </td>

        </tr>
    </tbody>

</table>
            