
// body
$body_gradient: linear-gradient(180deg, #00001D 0%, #00000A 100%);

$highlight_color: #00eeff;

$light_color: #009ED8;

$mid_color: #014FA2;

$dark_color: #00327C;

$disabled_color: #4F90DA83;

$clear_color: #FFFFFF;
