$background: #ffffff;
$backgroundContent : #E9FAFF;
$backgroundSideBar: #1B2E5E;
$landingPageBackground: #00020e;


// Landing page
$highlight_color: #42c2fd;
$light_color: #009ED8;
$mid_color: #014FA2;
$dark_color: #00327C;
$disabled_color: #4F90DA83;
$clear_color: #FFFFFF;
$text_color: #FFFFFF;


// Light theme
$highlight_color_L: #00aeff;
$light_color_L: #00bafd;
$mid_color_L: #0065d1;
$dark_color_L: #0044aa;
$disabled_color_L: #dadada83;
$clear_color_L: #000000;
$text_color_L: #000000;

// Dark theme
$highlight_color_D: #00aeff;
$light_color_D: #00bafd;
$mid_color_D: #0065d1;
$dark_color_D: #0044aa;
$disabled_color_D: #dadada83;
$clear_color_D: #ffffff;
$text_color_D: white;

