// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material'as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-primary: mat.define-palette(mat.$indigo-palette);
$angular-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-theme: mat.define-light-theme((color: (primary: $angular-primary,
            accent: $angular-accent,
            warn: $angular-warn,
        )));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angular-theme);

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;400;700&display=swap');

@import "./variables";

@import "./buttons";
@import "./forms";
@import "~bootstrap-icons/font/bootstrap-icons.css";

@import "./network_display";


* {
    font-family: 'Raleway', sans-serif;
}

html {
    height: 100%;
    margin: 0px;
    box-sizing: border-box;
}

body {
    margin: 0px;
    width: 100%;
    height: 100%;
    background: #ffffff;
}

.hidden {
    display: none;
}

#threeCanvas {
    width: 100%;
    height: 100%;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -10;
    pointer-events: none;
}

// Sadrzaj pored navbara
.content {
    // 250px sirine sidebar-a
    padding-left: 250px;
    // 50px visine navbar-a
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sidebar {
    background-color: #1B2E5E;
    // 100% visina ekrana - 50px visine navbara  
    height: calc(100% - 50px);
    width: 250px;
    float: left;
    padding: 10px;

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;

    position: fixed;
    left: 0px;
    // 50px visine navbara
    top: 50px;
    z-index: 50;
}

@media screen and (max-width: 1000px) {
    #sidebar {
        display: none;
    }

    .content {
        padding-left: 0px;
    }

}


/* ============================= TAMNE STRANICE ============================= */
.landing_page_theme {
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: #00020A;

    overflow-y: hidden;

    // SAKRIVANJE SCROLLBAR-A
    &::-webkit-scrollbar {
        display: none;
    }

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;


}



/* ============================= TAMNE STRANICE ============================= */


.light_theme {

    p {
        color: $text_color_L;
        font-size: 13px;
        text-decoration: none;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        color: $text_color_L;
        text-decoration: none;
        letter-spacing: 2px;
    }

    a {
        @extend p;

        font-size: 16px;
        padding: 10px;
        transition: ease-in 0.2s;

        &:hover {
            color: $mid_color_L;
            transition: ease-out 0.2s;
        }
    }

    .disabled {
        &:disabled {
            border: solid 1px $disabled_color_L;
            background: none;
            color: $disabled_color;
            cursor: default;

            &:hover {
                border: solid 1px $disabled_color_L;
                background: none;
                color: $disabled_color_L;
                cursor: default;
            }
        }
    }

}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}


.mat-dialog-container {
    background: linear-gradient(124.78deg, #002B6B 0%, #081648 100%) !important;
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 5px;
    overflow: hidden !important;
    width:30em !important;
    height: 20em !important;
}
.cdk-global-overlay-wrapper{
    backdrop-filter: blur(70px) ;
}
.cdk-overlay-container{
    z-index: 10000001;
}
