$light_color:#FFFFFF;

div{
    color:$light_color;
}
a{
    text-decoration: none;
    color:$light_color;
    font-size: xx-large;
}
.navbar-toggler{
    width:50px;
    height:50px;
    background-color: #009DF5;
    z-index: 1000001;
}
.navbar-toggler-icon{
    color:$light_color ;
}

.navDiv{
    position:absolute;
    z-index: 1000000;
    background: linear-gradient(344.95deg, rgba(12, 12, 51, 0.97) 0%, rgba(11, 20, 44, 0.97) 100%);
    backdrop-filter: blur(2px);
    height: 1000%;
    width:100%;
    top: 0%;
    left: 0%;
}
.div1{
    margin-bottom: 5%;
}
li{
    margin-bottom: 5%;
    text-align: center;
}
.lista{
    margin-top: 10%;
}

#controls{
    img{
        height: 22px;
        cursor: pointer;
        border-radius: 50%;
        
        &:hover:first-child{
            outline: solid 1px #FFFFFF;
        }
        
        &:first-child{
            margin-right: 10px;
        }
        &:last-child{
            margin-left: 10px;
        }
    }
}
hr{
    margin-top: 5%;
    margin-bottom: 5%;
}
#naslov{
    font-family: Raleway;
    font-size: xxx-large;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    margin-bottom: 0%;
}
#igrannonica img{
    width: 12%;
    height: auto;
    position: relative;
    top: -27px;
}
#igrannonica{
    margin-top: 5%;
}