#graphicsContainer{
    background-color: #FFFFFF;
    height: 100%;
    position: relative;
    user-select: none;
    
    #activationCombos{
        position: absolute;
        z-index: 2;
        
        
    }
    
    #weightInput{
        width: 60px;
        border: solid 2px #00A3FF;
        color: #2F5EA6;
        
        position: absolute;
        display: none;
        left: 0px;
        top: 0px;
        z-index: 3;
        
        &:focus{
            outline: none;
        }
    }
    
}
