<div #container id="graphicsContainer">
    <input #weightInput id="weightInput" type="number" (input)="ChangeNetworkWeight($event)" (blur)="Refresh()">
    
    <div id="activationCombos">
        
    </div>
    
    <div id="outputActivationCombo">
        
    </div>
    
    <svg>
        <linearGradient id="blueGradient" gradientTransform="rotate(45)">
            <stop offset="%"  stop-color="#69B7FF" />
            <stop offset="100%" stop-color="#2F5EA6" />
        </linearGradient>
        
        
        
        <g class="d3Container"> </g>
          
    </svg>
    
</div>