<div class="card p-3 shadow rounded">
    <div class="mx-auto text-center ">
        <img src="{{imageBlobUrl}}" class="card-img-top" alt="profilna slika">
        <div class=" mt-2" >
            <h6 id="username">@{{auth.korisnickoIme}}</h6>
        </div>
    </div>
    <div class="podaci p-1">
        <p class="ime_prezime mb-0 ">{{auth.ime_prezime}}</p>
        <p id="drzava">Serbia</p> 
    </div>
    <div class="dugme mx-auto">
        <a href="edit-profile" class="btn btn-primary btn-sm">{{'profil.izmeni'| translate}}</a>
    </div>
</div>