<!--  TRENUTNA STRANICA SAMO ZA TESTIRANJE, OBRISATI JE KASNIJE  -->


<div class="container p-5">
    <div class="row title-section">
        <p> <span> <a href='/my-projects'>{{'edit-dataset-page.naslov1'|translate}}/ </a> </span>{{'edit-dataset-page.naslov2'|translate}}</p>
        <hr>
    </div>
    
    <div class="row edit-section">
        
        <div class="col-11">
             <app-statistics></app-statistics>

        </div>
        
        <div class="col-1 opcije">
            <app-opcije-dataset></app-opcije-dataset>
        </div>
        
    </div>
    
</div>
