<h1 *ngIf="projekti.length==0">Nemate projekte</h1>
<div class="row" *ngIf="projekti.length>0">

  <div class="col-md-3" *ngFor="let p of projekti">
    <div class="projekat p-2 pb-0 shadow rounded" routerLink="/dataset/{{p.ProjectId}}">
      <h1 class="imeProjekta">{{p.Name}}</h1><br>
      <p class="datum">Created | 22/9/2022</p>
    </div>

    <!-- <button class="projekat btn-primary" routerLink="/dataset/{{p.ProjectId}}">{{p.Name}}</button> -->
  <!-- <a id="openProj" href="/dataset/{{p.ProjectId}}" class="btn btn-dark btn-sm" role="button">Open project</a>     -->
  </div>

</div>
