<h1 *ngIf="projekti.length==0">{{'lista-projekata.nema'|translate}}</h1>
<div class="row" *ngIf="projekti.length>0">

  <div class="col-md-4" *ngFor="let p of projekti">
    <div class="projekat p-2 pb-0 shadow rounded" routerLink="/dataset/{{p.ProjectId}}">
      <div class="imeIopis">
      <p class="imeProjekta">{{p.Name}}</p>
      <p class="opis">{{p.Description}}</p>
    </div>
      <p class="datum">{{'lista-projekata.kreiran'|translate}} | 22/9/2022</p>
    </div>

    <!-- <button class="projekat btn-primary" routerLink="/dataset/{{p.ProjectId}}">{{p.Name}}</button> -->
  <!-- <a id="openProj" href="/dataset/{{p.ProjectId}}" class="btn btn-dark btn-sm" role="button">Open project</a>     -->
  </div>

</div>
