.projekat
{
    background-color: white;
    height: 20vh;
    margin-bottom: 10%;
    
}
.imeProjekta
{
    color:black;
    font-size: large;
    font-weight: bold;
    word-wrap: break-word;
    height: 40%;
}
.imeIopis{
    height: 80%;
}
.opis{
    text-overflow: ellipsis;
    overflow:hidden;
    height:60%;  
    width:90%
}

.opis-text
.datum
{
    color: #868686;
}
.dugme
{
    background-color: #555555;
    border:none;
}

hr{
    background-color:#555555;
    height: 0.5rem;
}
@media (max-width:800px) {
    .zaVelikeEkrane{
        display: none;
    }
   
}
@media (min-width:800px) {
    .zaMaleEkrane{
        display: none;
    }
}

