.dropzone{
    transition: 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
    width: 100%;
    height: 100%;
    text-align: center;
    position: relative;
    
    
    .error{
        position: absolute;
        color: #d56868;
        font-size: calc(0.5vw + 10px);
        top: 6%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    input{
        opacity: 0;
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        cursor: pointer;
    }
    
    img{
        transition: 0.5s cubic-bezier(0.23, 1, 0.320, 1);
        width: 75%;
        height: 75%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    h2{
        transform-origin: center;
        color: #6F8BB6;
        font-weight: bold;
        font-size: calc(6vw + 24px);
        position: absolute;
        white-space: nowrap;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        user-select: none;
    }
    
    h3{
        color: #6F8BB6;
        position: absolute;
        font-size: calc(0.5vw + 16px);
        top: 88%;
        left: 50%;
        transform: translate(-50%, 0%);
        user-select: none;
    }
    
    label{
        color: #6F8BB6;
        
    }
    
    
    &:hover{
        transition: 0.5s cubic-bezier(0.68, -0.85, 0.265, 1.55);
        
        img{
            transition: 0.5s cubic-bezier(0.68, -0.85, 0.265, 1.55);
            width: 80%;
            height: 80%;
        }
    }
    
}

.dragHovering{
    transition: 0.5s cubic-bezier(0.265, 0.54, 0.44, 1);
    background-color: #002f7155;
    
    h2, h3{
        transition: 0.5s cubic-bezier(0.265, 0.54, 0.44, 1);
        color: #30467a;
    }
    
    img{
        transition: 0.5s cubic-bezier(0.18, -0.25, 0.265, 1.55);
        width: 80%;
        height: 80%;
    }
    
}