<!--<table class="tabela1 table table-bordered table-hover table-responsive table-curved table-strip"> -->
<table>
    
    <thead>
        <!-- RED ZA KOLONE -->
        <tr>
            <th scope="col" *ngFor="let column of columns">
                {{column}}
            </th>
        </tr>
    </thead>
    
    <tbody>
        <!-- RED PODATAKA -->
        <tr *ngFor="let i = index; let row of dataset">
            
            <!-- CELIJA U REDU -->
            <td *ngFor="let cell of GetRowData(row)">
                {{cell}}
            </td>

        </tr>
    </tbody>

</table>