<div id="wrapper">
    <div>
        <!-- <button id="searchButton"> <i class="fas fa-search"></i> </button> -->
        <input id="searchField" type="text" placeholder="{{'lista-projekata.search'|translate}}" (input)="SearchChanged($event)"/>
    </div>
    
    <select class="form-select" (change)="SortSelected($event)">
        <option selected value="sort">{{'sortiranje.starije' |translate}} &#8593;</option>
        <option value="sortRev" >{{'sortiranje.novije' |translate}} &#8595;</option>
        <option value="az">A-Z</option>
        <option value="za">Z-A</option>
    </select>
</div>