<div class="networkList" *ngIf="mreze.length > 0">
    
    <div *ngFor="let network of filtriraneMreze" class="network" > 
      
      <div class="networkLeft">
        <p class="title" (click)="OpenNetwork(network.id)"> {{network.name}} </p>
        
        <!-- <p class="created"> {{'lista-projekata.kreiran'|translate}} {{network.Creationdate}} </p> -->
      </div>
      
      <div class="networkRight">
        
        <button type="button" class="remove-button d-flex align-items-center justify-content-center" (click)="openDialog($event, network.id)" *ngIf="parent.authService.korisnickoIme == parent.owner.Username"> 
          <i class="bi bi-trash"></i> 
        </button>
        
      </div>
      
    </div>
      
  </div>
  
  <p id="emptyTitle" *ngIf="mreze.length == 0"> {{'lista-mreza.nema'|translate}} </p>