.sidebar{
    background-color: #0d1933;
    height: 100%;
    a{
        background-color: #0d1933;
        color: #ffffff80;
        transition: ease-out 0.1s;
        &:hover{
            transition: ease-in 0.15s;
          background-color: #345cfd;  
          color: #FFFFFF;
        }
    }
}

.sub-sidebar{
    margin-left: 10%;
    font-size: 14px;
    
    
    a{
        transition: ease-out 0.1s;
        &:hover{
            transition: ease-in 0.15s;
            background-color: #345cfd;
            color: #FFFFFF;
        }
    }
}

