.loader-container{
    z-index:10000000001;
    position: fixed;
    height: 100vh;
    background: linear-gradient(90deg, #0C1B31 0%, #1C2E5B 47.92%, #0D1C32 100%);
    opacity: 0.9;
    width:100%;
}