<!-- <fullscreen-loader #fullscreenLoader></fullscreen-loader> -->
<div *ngIf="loaderService.isLoading | async" class="loader-container">
    <!-- <mat-progress-bar mode="indeterminate" > </mat-progress-bar> -->
    <!-- <mat-spinner style="top:50%;left:50%;"></mat-spinner> -->
    <!-- <app-loader-new style="top:50%;left:50%"></app-loader-new> -->
    <div class="progress" style=" height:6px">
        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
    </div>
</div>
<!-- <app-navbar-novi></app-navbar-novi> -->
<!-- <app-navbar-novi></app-navbar-novi> -->
<router-outlet></router-outlet>
