<table>
    
    <thead>
        <!-- RED ZA KOLONE -->
        <tr>
            <th scope="col">
                
            </th>
            
            <th scope="col" *ngFor="let column of columns">
                {{column}}
            </th>
        </tr>
    </thead>
    
    <tbody>
        <!-- RED PODATAKA -->
        <tr *ngFor="let i = index; let row of statistics">
            
            <td class="firstCol">
                {{"statistics-table." + statisticsCols[i] | translate}}
            </td>
            
            <!-- CELIJA U REDU -->
            <td *ngFor="let cell of row">
                {{cell | number : '.2-2'}}
            </td>

        </tr>
    </tbody>

</table>