<table>
    
    <thead>
        <!-- RED ZA KOLONE -->
        <tr>
            <th scope="col">
                
            </th>
            
            <th scope="col" *ngFor="let column of columns">
                {{column}}
            </th>
        </tr>
    </thead>
    
    <tbody>
        <!-- RED PODATAKA -->
        <tr *ngFor="let i = index; let stat of statTypes">
            
            <td class="firstCol">
                {{"statistics-table." + stat | translate}}
            </td>
            
            <!-- CELIJA U REDU -->
            <td *ngFor="let i = index; let column of columns">
                {{statistics[i][stat]}} 
            </td>

        </tr>
    </tbody>

</table>